parameters:
    paths:
        - src
        - templates

    level: max

    excludePaths:
        - %currentWorkingDirectory%/vendor
        - %currentWorkingDirectory%/storage

    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true

    ignoreErrors:
        - '#Call to an undefined method .*#'
        - '#Access to an undefined property .*#'

    inferPrivatePropertyTypeFromConstructor: true